{% extends 'base.html' %}
{% import "bootstrap4/form.html" as wtf %}
{% import "macros.html" as macros with context %}

{% block styles %}
{{ bootstrap.load_css() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

{% endblock %}

{% block content %}

{% if processed_request %}
{{ macros.display_feedback(processed_request) }}
{% endif %}

<form class="form" method="post" role="form" enctype="multipart/form-data" action="/">
    {{ form.csrf_token }}

    <div class="form-group">
        <h4>{{ form.input_type.label }}</h4>
        {% for option in form.input_type %}

        {{ option }}
        {{ option.label }}

        {% endfor %}
    </div>
    <div class="form-group required" id="input">
        <div class="input-group mb-3" id="fasta">
            <div class="custom-file">
                <input class="form-control-file" id="{{ form.fasta_file.id }}" name="{{ form.fasta_file.id }}" required
                    type="file">
            </div>
        </div>
        <div id="uniprot" hidden="true">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="{{ form.uniprot_id.id }}" placeholder="eg. P12345">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="uniprotSearch">Search</button>
                </div>
            </div>
            <div class="alert alert-light" role="alert" id="uniprotSearchResult" hidden="true"></div>
        </div>
    </div>
    {{ wtf.render_field(form.modifications) }}

    <div class="form-row">
        <div class="col-md-4 col-sm-5">
            {{ wtf.render_field(form.position) }}
            {% if form.position.errors %}
            <ul class="errors">
                {% for error in form.position.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="col-md-3 col-sm-3">
            {{ wtf.render_field(form.range) }}
        </div>
    </div>

    {{ wtf.render_field(form.submit) }}
</form>

{% endblock %}

{% block scripts %}
<script src="{{url_for('.static', filename='index.js')}}"></script>
{{ bootstrap.load_js() }}
{% endblock %}