{% macro display_feedback(processed_request) -%}
{% if processed_request.is_success %}
<div class="alert alert-info" role="alert">
    <p>Query received</p>
</div>
{% else %}
<div class="alert alert-danger error-messages" role="alert">
    {% for error in processed_request.errors %}
    <p>{{ error.message }}</p>
    {% endfor %}
</div>
{% endif %}
{%- endmacro %}


{% macro display_results(processed_request, results) -%}
{% if processed_request.is_success %}
<div class="alert alert-info" role="alert">
    <p>Query processed</p>
    <a class="btn btn-primary" href="/download?id={{ processed_request.id }}">
        Download results
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            {% for name in results[0] %}
            <th scope="col">{{ name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
        {% if loop.index > 1 %}
        <tr>
            {% for column in result %}
            <td>{{ column }}</td>
            {% endfor %}
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
{% endif %}
{%- endmacro %}